@model IEnumerable<BeekeepersCorner.Models.Beehive>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
        @{
        var beekeepername = (String)ViewData["BeekeeperName"];

        var beekeeperid = (String)ViewData["BeekeeperID"];
    }

<h2>Beehives for @beekeepername</h2>

<p>
    <a asp-action="Create" asp-route-id="@beekeeperid">Create New Beehive</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HiveName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstallDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoneyProduction)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HiveName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstallDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoneyProduction)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BeehiveID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BeehiveID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BeehiveID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
